.appbar-container {
    position: relative;
    z-index: 50;
    height: 48px;
    background-color: #0288d1;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12), 0 1px 8px 0 rgba(0, 0, 0, 0.2);
}
.c5e-nav-expanded{
    padding-top: 16px;
    margin-top: 24px;
    margin-bottom: 16px;
    overflow: hidden
}